<!DOCTYPE html>
<html lang="el">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Επικοινωνία</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/blogo1.gif" rel="icon">
  <link href="/img/blogo1.gif" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/owl.carousel//owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">ΕΣΚ</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.hbs" class="logo mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Αρχική</a></li>
          <li ><a href="/protatlima">Πρωτάθλημα</a></li>
          <li><a href="/games">Αγώνες</a></li>
          <li><a href="/paiktes">Παίκτες</a></li>
          <li><a href="/teams">Ομάδες</a></li>
                   <li class="drop-down"><a >Περισσότερα</a>
            <ul>
              {{!-- <li><a href="#">Drop Down 1</a></li> --}}
              {{!-- <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> --}}
              <li><a href="/referee">Διαιτητές</a></li>
              <li><a href="/coaches">Προπονητές</a></li>
              {{!-- <li><a href="#">Drop Down 4</a></li> --}}
            </ul>
          </li>
          {{!-- <li><a href="contact.hbs">Contact</a></li>  --}}
          <li><a href="/contact">Επικοινωνία</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="courses.hbs" class="get-started-btn">Get Started</a> -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Επικοινωνία</h2>
        <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50133.03347271542!2d21.71058639573726!3d38.249009196892125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e3599a524ed2d%3A0x400bd2ce2b98ca0!2zzqDOrM-Ez4HOsQ!5e0!3m2!1sel!2sgr!4v1607946732156!5m2!1sel!2sgr" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">
        <!-- <iframe src="" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Διεύθυνση:</h4>
                <p> Κορίνθου 517</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@esk.gr</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Τηλέφωνο επικοικωνίας:</h4>
                <p>+30 210 9554 342</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Όνοματεπώνυμο" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Το Email σας" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Θέμα" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Το μηνυμά σας" placeholder="Το μηνυμά σας"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Αποστολή μηνύματος</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>ΕΣΚ</h3>
          <p>
            Κορίνθου 517 <br>
            Πάτρα 26222<br>
            Ελλάδα <br><br>
            <strong>Phone:</strong> +30 210 9554 342<br>
            <strong>Email:</strong> info@esk.gr<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Χρήσιμοι σύνδεσμοι</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Αρχική</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Σχετικά με την ένωση</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li> -->
            <li><i class="bx bx-chevron-right"></i> <a href="#">Πρωτάθλημα</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Νέα</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <!-- <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul> -->
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Εγγραφή στο ενημερωτικό δελτίο</h4>
          <p>Μάθεται πρώτοι όλα τα τελευταια νέα του πρωταθλήματος!</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Εγγραφή">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/vendor/counterup/counterup.min.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>