<!DOCTYPE html>
<html lang="el">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Πρωτάθλημα</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/blogo1.gif" rel="icon">
  <link href="/img/blogo1.gif" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/owl.carousel//owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">ΕΣΚ</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.hbs" class="logo mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Αρχική</a></li>
          <li class="active"><a href="/">Πρωτάθλημα</a></li>
          <li><a href="/games">Αγώνες</a></li>
          <li><a href="/paiktes">Παίκτες</a></li>
          <li><a href="/teams">Ομάδες</a></li>
                    <li class="drop-down"><a >Περισσότερα</a>
            <ul>
              {{!-- <li><a href="#">Drop Down 1</a></li> --}}
              {{!-- <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> --}}
              <li><a href="/referee">Διαιτητές</a></li>
              <li><a href="/coaches">Προπονητές</a></li>
              {{!-- <li><a href="#">Drop Down 4</a></li> --}}
            </ul>
          </li>
          {{!-- <li><a href="contact.hbs">Contact</a></li>  --}}
          <li><a href="/contact">Επικοινωνία</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="courses.hbs" class="get-started-btn">Get Started</a> -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Πρωτάθλημα</h2>
        <p> 

        </p>
      </div>
    </div>

    <!-- End Breadcrumbs -->

    <!-- Start filter bar -->
    <div class="p-5 userInput form-group" id="protathlima">

        <div class="col d-flex justify-content-center">

          <select class="custom-select  mr-sm-2" placeholder="Επιλογή κατηγορίας" name="category" id="divisions">
            <option selected disabled value="0">Διαλέξτε μια κατηγορία</option>
            {{!-- <option value="A">Α κατηγορίας</option>
            <option value="B">Β κατηγορίας</option>
            <option value="C">Γ κατηγορίας</option> --}}
          </select>
          <button type="button" class="btn btn-primary" onclick="searchdivision()">Οκ</button>
        </div>



    </div>
    <div class="container" id='showResults'>

    </div>
   
             <!-- ======= Counts Section ======= -->
             {{!-- <section id="counts" class="counts section-bg">
              <div class="container">
        
                <div class="row counters">
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1232</span>
                    <p>Παίκτες</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">64</span>
                    <p>Ομάδες</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">42</span>
                    <p>Αγώνες</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">15</span>
                    <p>Διαιτητές</p>
                  </div>
        
                </div>
        
              </div>
            </section> --}}
            <!-- End Counts Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>ΕΣΚ</h3>
            <p>
              Κορίνθου 517 <br>
              Πάτρα 26222<br>
              Ελλάδα <br><br>
              <strong>Phone:</strong> +30 210 9554 342<br>
              <strong>Email:</strong> info@esk.gr<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Χρήσιμοι σύνδεσμοι</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Αρχική</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Σχετικά με την ένωση</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="#">Πρωτάθλημα</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Νέα</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul> -->
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Εγγραφή στο ενημερωτικό δελτίο</h4>
            <p>Μάθεται πρώτοι όλα τα τελευταια νέα του πρωταθλήματος!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Εγγραφή">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <script src="/js/myprotathlima.js"></script>

</body>

</html>